.profile {
  background: white;
  padding: 30px;
  color: #424242;
  max-width: 800px;
}

.profile__header {
  letter-spacing: 5px;
}

.profile__link-segment {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  border-top: 1px rgb(193, 190, 190) solid;
}

.profile__link {
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: #60aefb;
  letter-spacing: 2px;
  font-weight: 700;
}

h1 {
  font-size: 40px;
  margin: 0;
  margin: 20px 0;
}

p {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.5;
}

a {
  margin: 20px;
  color: white;
  text-decoration: none;
}
